<div id="login" class="container animated fadeInUp">
  <div class="row" style="margin-top:200px"></div>    
  <div class="row">
      <div class="hidden-xs col-sm-2 col-md-3"></div>
      <div class="col-xs-12 col-sm-8 col-md-6">
          <div class="card">
              <div class="card-header text-center bg-primary text-white">
                  <h3 style="padding-top:10px;padding-bottom:5px;">Iniciar Sesión</h3>
              </div>
              <div class="card-body">
                  <form #form="ngForm" name="form" (ngSubmit)="doLogin()" novalidate>
                      <div class="form-group">                            
                          <input name="username" type="text" class="form-control" id="input-username" placeholder="Enter username" [(ngModel)]="username">
                          <small *ngIf="username.length == 0" class="form-text text-danger">username requerido</small>
                      </div>
                      <div class="form-group">                            
                          <input name="password" type="password" class="form-control" id="input-password" placeholder="Enter password" [(ngModel)]="password">
                          <small *ngIf="password.length == 0" class="form-text text-danger">Contraseña requerida</small>
                      </div>            
                      <button type="submit" class="btn btn-primary btn-block" [disabled]="loading" >
                          <span *ngIf="!loading" class="fa fa-sign-in">Entrar</span>
                          <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>                                       
                      </button>

                  
                  </form>                    
              </div>
          </div>
          <app-spinner [loading]="loading"></app-spinner>
      </div>        
  </div>
</div>
